.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  nav{
    list-style: none;
    color:#fff;
    padding:20px;
    display:flex;
    font-size: bold;
    font-family: "consolas";
    text-transform: uppercase;
    justify-content: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: #173459;
    flex-wrap: wrap;
  }
  nav li{
    padding-right: 10px;
    text-align:center ;
  }
  
  nav li:hover{
    /* border-bottom: 1.5px solid #173459; */
    cursor: pointer;
    color:grey;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,red); */
  }
  .container{
    padding-top: 30px;
    width:60%;
    margin-left: 20%;
  }
  
  .container p{
    text-align: justify;
  }
  